/*#2F303A вторичный цвет фона  */
/* #212121    основной цвет текста */
/*  #757575 вторичный цвет текста */
/* #ffffff  белый  */
/*#2196F3 акцент */
/*  */

:root {
  --primary-text-color: #212121;
  --list-text-color: #757575;
  --accent-color: #2196f3;
  --premiry-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --border-header: #ececec;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-example: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--list-text-color);
  background: var(--white-color);
  color: var(--primary-text-color);
}
/* контейнер навигации*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo */

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  margin-right: 93px;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.accent {
  color: var(--primary-text-color);
}

.accent-logo {
  color: var(--white-color);
}

ul {
  list-style: none;
}

nav {
  display: inline-flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}
header {
  border-bottom: 1px solid var(--border-header);
}
/* sait nav */

.site-nav {
  display: flex;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */

.contacts {
  display: inline-flex;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--list-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* hero */

.hero {
  background-color: var(--dark-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

/* button */

.button {
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*  filter */

.filter-button {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.filter-button > li:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  margin-bottom: 50px;

  color: var(--premiry-bg-color);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.filter-button.link:hover,
.filter-button.link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.filter-button.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
}
.filter-button.secandary {
  color: var(--primary-text-color);
  background-color: var(--premiry-bg-color);
  border-color: var(--premiry-bg-color);
}

/* section */

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* features */

.feature {
  display: flex;
  margin-left: -30px;
  padding-left: 0;

  color: var(--list-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.section advantage {
  padding-bottom: 94px;
}
.feature .item:nth-child(n) {
  margin-right: 0;
}

.advantages li {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
/* filter */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 0;
  margin-left: -30px;
  margin-right: -30px;

  color: var(--list-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.grid .item {
  flex-basis: calc((100% - 90px) / 3);
  margin: 0 30px 30px 0;
}
.grid.item:nth-child(n + 3) {
  margin-bottom: 0;
}

.card-text {
  padding: 20px 24px;
  border-right: 1px solid var(--border-example);
  border-bottom: 1px solid var(--border-example);
  border-left: 1px solid var(--border-example);
}
.grid-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.grid-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--list-text-color);
} /* soft */

.section-caption {
  margin-bottom: 50px;
}
.section-caption {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.soft {
  display: flex;
  padding-left: 0;
  margin-left: -30px;
  padding-bottom: 94px;
}
.item-soft {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.work {
  padding-top: 0;
}
/* team */

.team .section-caption {
  margin-bottom: 50px;
}

.team {
  background: var(--premiry-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team li {
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
}

.team .list {
  display: flex;
  text-align: center;
  margin-left: -30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.section team {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.box {
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-team {
  margin-bottom: 10px;
}
.profi {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  color: var(--list-text-color);
}
.team .section-caption {
  margin-bottom: 50;
}

/* address footer*/
.dark-bg {
  background: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  font-variant: inherit;
}
.dark-bg .list {
  color: var(--bg-color-text);
  flex-direction: column;
}

.dark-bg .container {
  align-items: center;
  justify-content: flex-start;
}
.connektion .list {
  background: var(--dark-bg-color);
  margin-bottom: 0;
}

.address-nav .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.address-item .link {
  color: var(--white-color);
}
.address-item {
  margin-bottom: 9px;
}
.address-mail {
  margin-bottom: 9px;
}
footer .list {
  text-align: left;
  margin-left: 0;
}

footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
}
.connektion {
  font-style: normal;
}
